@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Ibarra+Real+Nova&display=swap');

.app {
  width: 70%;
  max-width: 500px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(77, 123, 184);
  color: rgb(12, 0, 116);
  text-align: center;
  font-family: 'Courier Prime', monospace;  
  box-shadow: 2px 5px 5px rgb(73, 73, 73);
}

.title {  
  font-size: 2.3em;
  letter-spacing: 1px;
  line-height: 1.2;
}

.app textarea {
  width: 70%;
  height: 30%;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: 2px 0px 5px #000 inset;
}

.app textarea:disabled {
  background-color: #b3b3b3;
}

.total-words {
  font-size: 1.8em;
  padding: 10px 20px;
  font-family: 'Ibarra Real Nova', serif;
  border-radius: 100%;
  border: 2px dotted #fff;
}

.app button {
  width: 100px;
  padding: 7px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  border: 1px solid #fff;
  outline: none;
  background-color: fff;
  color: rgb(77, 123, 184); 
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
}

.app button:hover {
  font-weight: bold;
}

.app button:disabled {
  cursor: not-allowed;
}

.count-timer{
  padding: 20px;
  font-size: 1.4em;
}

@media screen and (max-width: 425px) {
  .title {  
    font-size: 2.1em;
    line-height: 1;
  }
  
  .app textarea {
    min-width: 200px;
    min-height: 120px;
  }
}

@media screen and (max-width: 320px) {
  .app {
    min-width: 270px;
  }
}